<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.scmaster.wcar.user.User" alias="user" />
		<typeAlias type="com.scmaster.wcar.provide.Provide" alias="provide" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/wcarMapper.xml" />
	</mappers>
</configuration>
